<% content_for(:title, "Companion FAQ") %>

<div class="page-header">
    <h1>Companion FAQ</h1>
</div>

<div class="panel-group" id="accordion">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#FAQ1">
                    I have a question or need help to perform an analysis. Can I contact you to get any help?
                </a>
            </h4>
        </div>
        <div id="FAQ1" class="panel-collapse collapse ">
            <div class="panel-body">
    Yes, we are reachable by email. For general questions about OMA, our preferred way of answering questions is through BioStar. Please consider asking your question there, including the tag OMA. We monitor BioStar for such questions and will answer them directly on that platform.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#FAQ2">
                    I have a question or need help to perform an anlaysis. Can I contact you to get any help?
                </a>
            </h4>
        </div>
        <div id="FAQ2" class="panel-collapse collapse ">
            <div class="panel-body">
    Yes, we are reachable by email. For general questions about OMA, our preferred way of answering questions is through BioStar. Please consider asking your question there, including the tag OMA. We monitor BioStar for such questions and will answer them directly on that platform.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#FAQ3">
                    I have a question or need help to perform an anlaysis. Can I contact you to get any help?
                </a>
            </h4>
        </div>
        <div id="FAQ3" class="panel-collapse collapse ">
            <div class="panel-body">
    Yes, we are reachable by email. For general questions about OMA, our preferred way of answering questions is through BioStar. Please consider asking your question there, including the tag OMA. We monitor BioStar for such questions and will answer them directly on that platform.
            </div>
        </div>
    </div>

</div>
