<% content_for(:title, "How Companion works") %>

<div class="page-header">
    <h1>How it works</h1>
</div>



<h3 id="prepare"><span class="glyphicon glyphicon-check"></span> Prepare your sequence</h2>

<p>The Companion service requires input data to be in valid FASTA, GenBank or EMBL format. Only sequences will be considered, any already existing annotation present in GenBank or EMBL files will be discarded and not included in the final result.
</p>

<p>Some additional rules to consider:</p>

<ul>
    <li>the maximal allowed size of an uploaded file is 64 MB</li>
    <li>the maximal allowed number of sequences in the uploaded file is 3000</li>
    <li>please make sure that the sequence headers do not contain special characters</li>
    <li>sequence headers need to be unique as they will be used as sequence identifiers in the resulting annotation files</li>
</ul>

<h3 id="upload"><span class="glyphicon glyphicon-cloud-upload"></span> Upload and run</h2>

<p>Once you have prepared your sequence,<a href="https://www.globus.org/">Globus</a>.</p>

<h4>1. Step 1</h4>

<h4>2. Step 2</h4>

<h4>3. Step 3</h4>
