<% content_for(:title, "Companion Survey 2018") %>

<div class="page-header">
  <h1>Survey 2018</h1>
</div>

<div class="row">
  <h4 id="size">Motivation</h4>
  <p>We wanted to obtain feedback from users about Companion. Approciate 75 % of the users leave their email adress
     so we asked 175 users that used Companion in the last 14 months to give us feedback. The results of 27 replices can be seen on 
    <a href="https://www.surveymonkey.com/results/SM-CLXJDL5DV/">survey monkey</a>. 
</p>
 
      </div>
