<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your job has started!</h1>
    <p>
      Dear Companion user, your job "<%= @job[:name] %>" has just
      started running! Please expect another email once the job has finished. <br>
      In the meantime, you can always check on the status of your job using <%= link_to "this link", job_url(id: @job[:job_id]) %>.
    </p>
    <p>Thanks for using <i>Companion</i> and have a great day!</p>
  </body>
</html>