<h1>My Sequences</h1>


<table class="table table-striped" id="file-list">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Size</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
<% @user_files.each do |ufile| %>
            <tr>
                <td><%= ufile.file_name %></td>
                <td><%= number_to_human_size(ufile.file.size) %></td>
                <td> <%= link_to user_file_path(id: ufile[:id]), method: :delete, data: { confirm: "Are you sure?" } do %>
                       <i class="glyphicon glyphicon-trash"></i> Delete
                     <% end %>&nbsp;
                </td>
            </tr>
  <% end %>
  <tr id="nosequences" <% if @user_files.size > 0 then %> style="display: none;" <% end %>>
    <td  colspan="3"> You do not have any sequence files at the moment. Use the form below to upload them. </td>
 </tr>
        </tbody>
    </table>

<%= form_for @user_file do |f| %>
  <div class="form-group">
   <span class="btn btn-default btn-file">
     <i class="glyphicon glyphicon-plus"></i> Add new file... <input type="file" name="user_file[file]" id="new_user_file">
   </span>
  </div>

<div class="progress-wrapper">
  <div class="progress">
    <div class="progress-bar" role="progressbar">
      0%
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
      var user_file_form = $('#new_user_file');
      var wrapper = user_file_form.find('.progress-wrapper');
      var nosequences = $('#nosequences');
      var progress_bar = wrapper.find('.progress-bar');
      var bitrate = wrapper.find('.bitrate');
      wrapper.hide();

      user_file_form.fileupload({dataType: 'script'});

      user_file_form.on('fileuploadstart', function() {
        wrapper.show();
      });

      user_file_form.on('fileuploaddone', function(e, data) {
        wrapper.hide();
        progress_bar.width(0);
      });

      user_file_form.on('fileuploadprogressall', function (e, data) {
        bitrate.text((data.bitrate / 1024).toFixed(2) + 'Kb/s');
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progress_bar.css('width', progress + '%').text(progress + '%');
      });
    });
</script>