<p>
    top: reference chromosome from <i><%= ref[:name] %></i>, bottom: <i> <%= job[:name] %></i> contiguated pseudochromosome <br>
    <span class='fa fa-stop' style='color: #fb6a4a'></span> = forward strand gene  &emsp; <span class='fa fa-stop' style='color: #6aadd5'></span> = reverse strand gene &emsp; <span class='fa fa-stop' style='color: #74c476'></span> = missing core gene &emsp; <span class='fa fa-stop' style='color: #0000000'></span> = singleton gene &emsp; <span class='fa fa-stop' style='color: #fff64a'></span> = gap
</p>