<tr>
    <td><%= hidden_field :job, :sequence_file_id, required: true, value: @sequence_file.id %><%= @sequence_file.file_name %></td>
    <td><%= number_to_human_size(@sequence_file.file.size) %></td>
</tr>