<tr>
    <td> <%= radio_button :job, :transcript_file_id, @transcript_file[:id], required: true %>
    <td><%= @transcript_file.file_name %></td>
    <td><%= number_to_human_size(@transcript_file.file.size) %></td>
</tr>