<div class="jumbotron">
  <%= image_tag 'companion_logo.png', alt: 'Companion' %>
  <p class="lead">Easy and reliable parasite genome annotation.</p>
  <div class="row">
    <%= form_tag(:job_find, method: "get", class: "form-inline") do %>
      <div class="form-group">
        <% if not @closed then %>
          <a class="btn btn-lg btn-primary" href="/jobs/new" role="button">Annotate <i>your</i> sequence!</a> <br /><br /> or find
        <% else %>
          <a class="btn btn-lg btn-danger disabled" href="#" role="button">New job submission is temporarily closed for technical reasons.<br />Please try again later.</a> <br /><br /> Find
        <% end %>
        your job by ID:<br /><br />
        <%= text_field_tag(:id, nil, :class => "form-control input-lg", :style => "width: 350px",
                           :placeholder => "e.g. 9b0a42358d208bb061cbf2d3" ) %>
      </div>
    <% end %>
  </div>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Easy.</h4>
    <p>Annotation of a new genome could be as easy as uploading your
       scaffold sequences (FASTA, EMBL, GenBank), choosing a
       reference (from our set of <a href="/faq#references"><%= @nof_refs %>
       species</a>) and pushing a button!</p>

    <h4>Full-stack.</h4>
    <p>The pipeline spans many aspects of new genome production, from
       pseudochromosome contiguation, structural and functional gene
       annotation over comparative analyses to visualization.</p>

    <h4>Standards compliant.</h4>
    <p>Annotation results are provided in
      validated <a href="http://www.sequenceontology.org/gff3.shtml">GFF3</a>
      format for gene model and product annotations and
      <a href="http://geneontology.org/page/go-annotation-file-gaf-format-10">GAF</a>
      format for GO associations.</p>
  </div>

  <div class="col-lg-6">
    <h4>Quick.</h4>
    <p>Annotation results are typically ready in a couple of hours.
      Submit multiple jobs at once and we will keep you up to date
      about the progress of your jobs.</p>

    <h4>High quality.</h4>
    <p>Data-generating components of the pipeline are built on time-tested
       <em>de facto</em> standard software.</p>

    <h4>Portable.</h4>
    <p>Want to tweak the pipeline or perform large-scale annotations on
       your compute cluster? Get <a href="http://www.nextflow.io">Nextflow</a>,
       the pipeline <a href="https://github.com/sanger-pathogens/companion">code</a>
       under the hood and the <a href="https://www.docker.com">Docker</a>
       <a href="https://hub.docker.com/r/satta/companion/">dependencies</a>
       and run the whole workflow on your own machine!</p>
  </div>
</div>
