      <div class="jumbotron">
        <h1>Kingpin</h1>
        <p class="lead">Easy and reliable kinetoplastid genome annotation.</p>
        <p><a class="btn btn-lg btn-success" href="/jobs/new" role="button">Annotate <i>your</i> sequence!</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Easy.</h4>
          <p>Annotation of a new genome could be as easy as uploading your scaffolds (FASTA, EMBL, GenBank), choosing a reference and hitting a button!</p>

          <h4>Full-stack.</h4>
          <p>The pipeline spans many aspects of new genome production, from pseudochromosome contiguation to functional annotation over comparative analyses to visualization.</p>

          <h4>Standards compliant.</h4>
          <p>Annotation results are provided in indexed and validated <a href="http://www.sequenceontology.org/gff3.shtml">GFF3</a> format for structural annotations and <a href="http://geneontology.org/page/go-annotation-file-gaf-format-10">GAF</a> format for functional annotation.</p>
        </div>

        <div class="col-lg-6">
          <h4>Quick.</h4>
          <p>Annotation results are typically ready in a couple of hours. Enqueue up to 5 jobs at once and we will keep you up to date about your job's progress.</p>

          <h4>High quality.</h4>
          <p>All components of the pipeline are built on state of the art software.</p>

          <h4>Portable.</h4>
          <p>Want to tweak or hack the pipeline or perform large-scale annotations? Get <a href="http://www.nextflow.io">Nextflow</a>, the Kingpin <a href="https://github.com/satta/annot-nf">code</a> and the <a href="https://www.docker.com">Docker</a> <a href="https://registry.hub.docker.com/u/satta/annot-nf">dependencies</a> and run Kingpin on your own machine!</p>
        </div>
      </div>
