base: &default
  nextflowpath: "/home/companion/"
  nextflowscript: "/home/companion/annot-nf/annot.nf"
  locationconfig: "/home/companion/annot-nf/loc_web.config"
  extrinsicconfig: "/home/companion/annot-nf/data/augustus/extrinsic.cfg"
  dockerconf: ""
  rootdir: "/home/companion/annot-nf/"
  workdir: "/www/companion/work"
  tmpdir: "/tmp"
  example_job_id: ""
  keep_work_directories: false
  min_work_space: 500
  max_file_size_mb: 128
  organism_group: "parasite"
  example_species:
    prefix: "LDON"
    name: "Leishmania donovani"
  taxon:
    example: "5691 (for T. brucei)"
    default: "5653 (Kinetoplastida)"
    id: 5653

development:
  <<: *default
  referencedirs:
    Kinetoplastida: "/www/companion/ref_kinetoplastids"
    Plasmodium: "/www/companion/ref_plasmodium"
  weightfiles:
    Kinetoplastida: "/home/companion/annot-nf/data/weight/weight_kinetoplastid.lua"
    Plasmodium: "/home/companion/annot-nf/data/weight/weight_plasmodium.lua"
  ncrna_models:
    Kinetoplastida: "/home/companion/annot-nf/data/cm/kinetoplastid_rnas.cm"
  maxintronlengths:
    Kinetoplastida: 1
    Plasmodium: 20000
  fix_polycistrons:
    Kinetoplastida: "true"
    Plasmodium: "false"
  do_circos:
    Kinetoplastida: "true"
    Plasmodium: "true"

production:
  <<: *default

test:
  <<: *default
