development:
  nextflowpath: "/nfs/users/nfs_s/ss34/"
  nextflowscript: "/nfs/users/nfs_s/ss34/annot-nf/annot.nf"
  locationconfig: "/nfs/users/nfs_s/ss34/annot-nf/loc_web.config"
  extrinsicconfig: "/nfs/users/nfs_s/ss34/annot-nf/data/augustus/extrinsic.cfg"
  referencedirs:
    Kinetoplastida: "/Users/ss34/rails/testapp/ref_kinetoplastids"
    Plasmodium: "/Users/ss34/rails/testapp/ref_plasmodium"
    CryptoDB: "/Users/ss34/rails/testapp/CryptoDB.org"
    PiroplasmaDB: "/Users/ss34/rails/testapp/PiroplasmaDB.org"
    AmoebaDB: "/Users/ss34/rails/testapp/AmoebaDB.org"
    ToxoDB: "/Users/ss34/rails/testapp/ToxoDB.org"
  weightfiles:
    Kinetoplastida: "/Users/ss34/develop/annot-nf/data/weight/weight_kinetoplastid.lua"
    Plasmodium: "/Users/ss34/develop/annot-nf/data/weight/weight_plasmodium.lua"
    CryptoDB: "/Users/ss34/develop/annot-nf/data/weight/weight_plasmodium.lua"
    PiroplasmaDB: "/Users/ss34/develop/annot-nf/data/weight/weight_plasmodium.lua"
    AmoebaDB: "/Users/ss34/develop/annot-nf/data/weight/weight_plasmodium.lua"
    ToxoDB: "/Users/ss34/develop/annot-nf/data/weight/weight_plasmodium.lua"
  maxintronlengths:
    Kinetoplastida: 1
    Plasmodium: 120000
    CryptoDB: 120000
    PiroplasmaDB: 120000
    AmoebaDB: 120000
    ToxoDB: 120000
  fix_polycistrons:
    Kinetoplastida: "true"
    Plasmodium: "false"
    CryptoDB: "false"
    PiroplasmaDB: "false"
    AmoebaDB: "false"
    ToxoDB: "false"
  dockerconf: "-with-docker satta/companion"
  rootdir: "/Users/ss34/develop/annot-nf/"
  workdir: "/Users/ss34/develop/annot-nf/work"
  tmpdir: "/tmp"
  example_job_id: "b2e79c6b5f8495fe52ca297d"

production:
  nextflowpath: "/nfs/users/nfs_s/ss34/"
  nextflowscript: "/nfs/users/nfs_s/ss34/annot-nf/annot.nf"
  locationconfig: "/nfs/users/nfs_s/ss34/annot-nf/loc_web.config"
  extrinsicconfig: "/nfs/users/nfs_s/ss34/annot-nf/data/augustus/extrinsic.cfg"
  referencedirs:
    Kinetoplastida: "/www/ss34/ref_kinetoplastids"
    Plasmodium: "/www/ss34/ref_plasmodium"
  weightfiles:
    Kinetoplastida: "/nfs/users/nfs_s/ss34/annot-nf/data/weight/weight_kinetoplastid.lua"
    Plasmodium: "/nfs/users/nfs_s/ss34/annot-nf/data/weight/weight_plasmodium.lua"
  maxintronlengths:
    Kinetoplastida: 1
    Plasmodium: 20000
  fix_polycistrons:
    Kinetoplastida: "true"
    Plasmodium: "false"
  dockerconf: "-with-docker satta/companion"
  rootdir: "/Users/ss34/develop/annot-nf/"
  workdir: "/Users/ss34/develop/annot-nf/work"
  tmpdir: "/tmp"
  example_job_id: "b2e79c6b5f8495fe52ca297d"

test:
  nextflowpath: "/Users/ss34/"
  nextflowscript: "/Users/ss34/develop/annot-nf/annot.nf"
  locationconfig: "/Users/ss34/develop/annot-nf/loc_docker.config"
  extrinsicconfig: "/Users/ss34/develop/annot-nf/data/augustus/extrinsic.cfg"
  referencedirs:
    Kinetoplastida: "/Users/ss34/rails/testapp/ref_kinetoplastids"
    Plasmodium: "/Users/ss34/rails/testapp/ref_plasmodium"
  weightfiles:
    Kinetoplastida: "/Users/ss34/develop/annot-nf/data/weight/weight_kinetoplastid.lua"
    Plasmodium: "/Users/ss34/develop/annot-nf/data/weight/weight_plasmodium.lua"
  maxintronlengths:
    Kinetoplastida: 1
    Plasmodium: 20000
  fix_polycistrons:
    Kinetoplastids: "true"
    Plasmodium: "false"
  dockerconf: "-with-docker satta/companion"
  rootdir: "/Users/ss34/develop/annot-nf/"
  workdir: "/Users/ss34/develop/annot-nf/work"
  tmpdir: "/tmp"
  example_job_id: "b2e79c6b5f8495fe52ca297d"
