/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require select2
 *= require bootstrap-slider
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.dataTables";
@import "jobs";
@import 'cookies_eu';

th a.current {
    padding-right: 16px;
    background-repeat: no-repeat;
    background-position: right center;
}

th a.asc {
    background-image: image-url("sort_asc.png");
}

th a.desc {
    background-image: image-url("sort_desc.png");
}

.new-tab {
    background-color:aquamarine;
}
