.modal-body {
    padding:5px !important;
}
.modal-content {
    border-radius:0;
    height:720px;
    width:515px;
}
.modal-dialog img {
    text-align:center;
    margin:0 auto;
}
.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}
.span3 {
    height: 500px !important;
    overflow: scroll;
}

ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

ul.horizontal-slide li[class*="span"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="span"]:first-child {
    margin-left: 0;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.caption {
    display: block;
}